body{
	padding:0px;
	margin:0px;
	-webkit-font-smoothing: antialiased;
    color: #333;
    font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
ul{margin:0px;padding:0px;list-style-type:none;}
a{text-decoration:none;color:#333;}
/* 位置 */
.cen{
	width:1080px;
	margin:0px auto 0px auto;
	overflow:hidden;
}
.mgup{
	margin-top:10px;
}
/* 颜色 */

:root{
	  --bgColor: #FF9933;
	  --conColor:#FFFFCC;
	  --bdColor: #009966;
}



/* 边框 */
.b1{
	border:1px solid var(--bdColor)
}

/* 长度 */
.w1080{
	width:1080px;
}
