<!DOCTYPE html>
<html lang="en">

<head>
	<%- include mod_head.html %>
	<title>管理后台欢迎页面</title>
	<script language="javascript" type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
	<link href="/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div>
		<div class="top_area">
			<%- include mod_top.html %>
		</div>
		<div class="bom_area">
			<div class="nav_menu_area">
				<%- include mod_menu.html %>
			</div>
			<div class="work_area" id="work_area">
				用户管理页面
			</div>
		</div>
	</div>
	<%- include mod_template.html %>
	<div id="pop_add" style="display:none;">
		<ul class="pop_edt_ul">
			<li>
				<span class="pop_edt_sp img_pop_edt_sp" style="width: 100%">上传图片(建议尺寸:宽1920*高650,大小不超过500KB)</span>
				<form method="post" action="http://upload.qiniup.com/" enctype="multipart/form-data" id="pop_add_uploadImgForm" style="margin-left: 60px">
					<input id="pop_add_uploadImgKey" name="key" type="hidden">
					<input id="pop_add_uploadImgToken" name="token" type="hidden">
					<input id="pop_add_uploadImgfile" name="file" type="file" style="line-height: 0;margin-top: 15px" onchange="uploadImg('add')" />
					<input id="pop_add_uploadImgSubmit" type="submit" style="display: none;" />
				</form>
			</li>
			<img src="" id="pop_add_uploadImg" onload="loadImage('add')">
			<!-- <li><span class="pop_edt_sp img_pop_edt_sp">图片名称</span><input type="text" class="pop_edt_ipt" /></li> -->
			<li><span class="pop_edt_sp img_pop_edt_sp">开始轮播时间</span><input class="pop_edt_ipt Wdate" type="text" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="pop_add_beginTime"></li>
			<li><span class="pop_edt_sp img_pop_edt_sp">结束轮播时间</span><input class="pop_edt_ipt Wdate" type="text" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="pop_add_endTime"></li>
			<li><span class="pop_edt_sp img_pop_edt_sp">图片状态</span>
				<select class="pop_edt_ipt" id="pop_add_state">
						<option value="0">禁用</option>
						<option value="1" selected>正常</option>
				</select>
			</li>
			<li><span class="pop_edt_sp img_pop_edt_sp">图片跳转链接</span><input type="text" class="pop_edt_ipt" id="pop_add_link" placeholder="请加入http协议" /></li>
			<li><span class="pop_edt_sp img_pop_edt_sp">置顶排序</span><input type="text" class="pop_edt_ipt" id="pop_add_sequence" placeholder="数值越大越靠前" /></li>
		</ul>
		<div style="text-align:center;margin-top:20px;">
			<button onclick="addSave()" id="pop_add_btn" class="pop_edt_btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
		</div>
	</div>
	<div id="pop_edit" style="display:none;">
		<ul class="pop_edt_ul">
			<input type="hidden" name="id" id="pop_edt_id">
			<li>
				<span class="pop_edt_sp img_pop_edt_sp" style="width: 100%">上传图片(建议尺寸:宽1920*高650)</span>
				<form method="post" action="http://upload.qiniup.com/" enctype="multipart/form-data" id="pop_edt_uploadImgForm" style="margin-left: 60px">
					<input id="pop_edt_uploadImgKey" name="key" type="hidden">
					<input id="pop_edt_uploadImgToken" name="token" type="hidden">
					<input id="pop_edt_uploadImgfile" name="file" type="file" style="line-height: 0;margin-top: 15px" onchange="uploadImg('edt')" />
					<input id="pop_edt_uploadImgSubmit" type="submit" style="display: none;" />
				</form>
			</li>
			<img src="" id="pop_edt_uploadImg" onload="loadImage('edt')">
			<!-- <li><span class="pop_edt_sp img_pop_edt_sp">图片名称</span><input type="text" class="pop_edt_ipt" /></li> -->
			<li><span class="pop_edt_sp img_pop_edt_sp">开始轮播时间</span><input class="pop_edt_ipt Wdate" type="text" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="pop_edt_beginTime"></li>
			<li><span class="pop_edt_sp img_pop_edt_sp">结束轮播时间</span><input class="pop_edt_ipt Wdate" type="text" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="pop_edt_endTime"></li>
			<li><span class="pop_edt_sp img_pop_edt_sp">图片状态</span>
				<select class="pop_edt_ipt" id="pop_edt_state">
						<option value="0">禁用</option>
						<option value="1" selected>正常</option>
				</select>
			</li>
			<li><span class="pop_edt_sp img_pop_edt_sp">图片跳转链接</span><input type="text" class="pop_edt_ipt" id="pop_edt_link" placeholder="请加入http协议" /></li>
			<li><span class="pop_edt_sp img_pop_edt_sp">置顶排序</span><input type="text" class="pop_edt_ipt" id="pop_edt_sequence" placeholder="数值越大越靠前" /></li>
		</ul>
		<div style="text-align:center;margin-top:20px;">
			<button onclick="editSave()" id="pop_edt_btn" class="pop_edt_btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
		</div>
	</div>
</body>
<script type="text/javascript">
var opts = {
	fields:[
		{
			name  : '图片id',field : 'id',query : false,type  : 'hidden'
		},{
			name  : '图片',field : 'imgUrl',query : false,type  : 'image'
		},
		{
			name  : '图片类型',field : 'type',query : true,type  : 'select',
			dict  : [{key:'',value:'请选择'},{key:'1',value:'首页轮播图'},{key:'2',value:'内页轮播图'}]
		},
		{
			name  : '置顶排序',field : 'sequence',query : false,type  : 'input'
		},
		{
			name  : '创建时间',field : 'createTime',query : false,type  : 'time'
		},
		{
			name  : '图片状态',field : 'state',query : true,type  : 'select',
			dict  : [{key:'',value:'请选择'},{key:'0',value:'禁用'},{key:'1',value:'正常'}]
		}
	],
	query_btns:[{name:'查询',click:'findListPage',power:'net_loop:list'},{name:'新增',click:'add',power:'net_loop:save'}],
	action_btns:[
		{name:'编辑',click:'edit',power:'net_loop:update'},
		{name:'删除',click:'deleteBanner',power:'net_loop:delete'}
	]
}
$(document).ready(function(){
	initTemplate(opts);
	findListPage();
});
function findListPage(currentPage){
	var data = getQueryParam();
	data['currentPage'] = currentPage || 1;
	$.ajax({
		url:'/yinrun/findBannerListPage?t='+Date.now(),
		type:'get',
		data:data,
		success:function(res){
			res = JSON.parse(res);
			if(res.status == 'success'){
				showTemplate(opts,res.results,findListPage);
			}else{
				showTip(res.message);
			}
		}
	});
}
function loadImage(type){
	var src = $("#pop_"+type+"_uploadImg").attr("src");
	if (src == "/images/wait.gif" || src == "") {
		return;
	}
	var w = $("#pop_"+type+"_uploadImg").css("width").replace("px","");
	if (w > 480) {
		$("#pop_"+type+"_uploadImg").css("width","480px")
	}
}
function uploadImg(type){
	var obj = document.getElementById("pop_"+type+"_uploadImgfile") ; 
	var imgSize = obj.files[0].size;
	if (imgSize > 512000) {
		showTip('图片大小超过500KB，无法上传');
		obj.outerHTML=obj.outerHTML; 
		return;
	}
	$("#pop_"+type+"_uploadImg").attr("src","/images/wait.gif").css({
		"height":"200px",
		"margin-top":"10px",
		"margin-left":"60px"
	});;
	var fileName = $("#pop_"+type+"_uploadImgfile")["0"].files[0].name.slice(0,$("#pop_"+type+"_uploadImgfile")["0"].files[0].name.indexOf(".")),
		currTime = new Date().getTime(),
		fileForm = $("#pop_"+type+"_uploadImgForm");
	$("#pop_"+type+"_uploadImgForm").submit(function (event) {
		event.preventDefault();
		var form = $(this);
		var formData = new FormData(this);
		$.ajax({
			type: form.attr('method'),
			url: form.attr('action'),
			data: formData,
			mimeType: "multipart/form-data",
			contentType: false,
			cache: false,
			processData: false,
			success:function(res){
				$("#pop_"+type+"_uploadImg").attr("src","http://img.hp365.com/"+$("#pop_"+type+"_uploadImgKey").val());
			}
		})
	});
	$("#pop_"+type+"_uploadImgKey").val(fileName + "_" + currTime);
	$.ajax({
		url:'/yinrun/uploadImg',
		type:'get',
		success:function(res){
			res = JSON.parse(res);
			if(res.status == 'success'){
				$("#pop_"+type+"_uploadImgToken").val(res.results.uptoken);
				$("#pop_"+type+"_uploadImgSubmit").trigger("click");
			}else{
				showTip(res.message);
			}
		}
	})
}
function add(){
	var pop_add = $('body').data('pop_add');
	if(!pop_add){
		$('body').data('pop_add',$('#pop_add').html());
	}else{
		$('#pop_add').html($('body').data('pop_add'));
	}
	var opts={
		width:600,
		height:600,
		title:'新增轮播图片基本信息',
		html:$('#pop_add').html()
	}
	showPopWindow(opts);
	$('#pop_add').html('');
}
function addSave(){
	var uploadImgUrl = $('#pop_add_uploadImg').attr("src");
	var beginTime = (new Date($('#pop_add_beginTime').val()).getTime()+"").slice(0,10); 
	var endTime = (new Date($('#pop_add_endTime').val()).getTime()+"").slice(0,10);
	var link = $('#pop_add_link').val();
	var state = $('#pop_add_state').val();
	var sequence = $("#pop_add_sequence").val();
	var waitImgUrl = "wait.gif";
	if(!uploadImgUrl || uploadImgUrl.substring(uploadImgUrl.lastIndexOf("/")+1) === waitImgUrl){
		showTip('你还未上传图片或图片正在上传中');
		return;
	}
	if(!state){
		showTip('图片状态不能为空');
		return;
	}
	if(!sequence){
		sequence = "0";
	}
	if (!beginTime || beginTime === "NaN") {
		beginTime = "";
	}
	if (!endTime || endTime === "NaN") {
		endTime = "";
	}
	if (!!beginTime && !!endTime && (Number(endTime) < Number(beginTime))) {
		if(!confirm('图片轮播开始时间晚于结束时间，请确认')){
			return;
		}
	}
	var data = {
		imgUrl : uploadImgUrl,
		beginTime : beginTime,
		endTime : endTime,
		link : link,
		state : state,
		sequence : sequence
	}
	$('#pop_add_btn').attr('disabled',true); 
	$('#pop_add_btn').addClass('btn_invalid');
	var actionName = 'banner_save';
	if(isActionLock(actionName)){
		return;
	}
	lockAction(actionName);
	$.ajax({
		url:'/yinrun/addBanner',
		type:'post',
		data:data,
		success:function(res){
			res = JSON.parse(res);
			if(res.status == 'success'){
				showTip('保存成功');
				findListPage(template.page.currentPage||1);
				$('#pop_add_btn').attr('disabled',false); 
				$('#pop_add_btn').removeClass('btn_invalid');
				closePopWindow();
			}else{
				showTip(res.message||'保存失败');
			}
			unlockAction(actionName);
		}
	});
}
function edit(id){
	var ele = getDataById(id);
	var pop_edit = $('body').data('pop_edit');
	if(!pop_edit){
		$('body').data('pop_edit',$('#pop_edit').html());
	}else{
		$('#pop_edit').html($('body').data('pop_edit'));
	}
	var opts={
		width:600,
		height:600,
		title:'编辑图片基本信息',
		html:$('#pop_edit').html()
	}
	showPopWindow(opts);
	$('#pop_edit').html('');
	//设置值
	$('#pop_edt_uploadImg').attr("src",ele['imgUrl'] || '');
	if ($('#pop_edt_uploadImg').attr("src")) {
		$("#pop_edt_uploadImg").css({
			"height":"200px",
			"margin-top":"10px",
			"margin-left":"60px"
		})
	}
	$('#pop_edt_id').val(ele['id'] || '');
	$('#pop_edt_beginTime').val(ele['beginTime']&&formatTime(ele['beginTime']) || '');
	$('#pop_edt_endTime').val(ele['endTime']&&formatTime(ele['endTime']) || '');
	$('#pop_edt_state').val(ele['state']);
	$('#pop_edt_link').val(ele['link'] || '');
	$('#pop_edt_sequence').val(ele['sequence'] || '0');
}

function editSave(){
	var uploadImgUrl = $('#pop_edt_uploadImg').attr("src");
	var beginTime = (new Date($('#pop_edt_beginTime').val()).getTime()+"").slice(0,10); 
	var endTime = (new Date($('#pop_edt_endTime').val()).getTime()+"").slice(0,10);
	var link = $('#pop_edt_link').val();
	var state = $('#pop_edt_state').val();
	var sequence = $("#pop_edt_sequence").val();
	var id = $("#pop_edt_id").val();
	var waitImgUrl = "wait.gif";
	if(!uploadImgUrl || uploadImgUrl.substring(uploadImgUrl.lastIndexOf("/")+1) === waitImgUrl){
		showTip('你还未上传图片或图片正在上传中');
		return;
	}
	if(!state){
		showTip('图片状态不能为空');
		return;
	}
	if(!sequence){
		sequence = "0";
	}
	if (!beginTime || beginTime === "NaN") {
		beginTime = "";
	}
	if (!endTime || endTime === "NaN") {
		endTime = "";
	}
	if (!!beginTime && !!endTime && (Number(endTime) < Number(beginTime))) {
		if(!confirm('图片轮播开始时间晚于结束时间，请确认')){
			return;
		}
	}
	var data = {
		id : id,
		imgUrl : uploadImgUrl,
		beginTime : beginTime,
		endTime : endTime,
		link : link,
		state : state,
		sequence : sequence
	}
	$('#pop_edt_btn').attr('disabled',true); 
	$('#pop_edt_btn').addClass('btn_invalid');
	$.ajax({
		url:'/yinrun/updateBanner',
		type:'post',
		data:data,
		success:function(res){
			res = JSON.parse(res);
			if(res.status == 'success'){
				showTip('保存成功');
				findListPage(template.page.currentPage||1);
				$('#pop_edt_btn').attr('disabled',false); 
				$('#pop_edt_btn').removeClass('btn_invalid');
				closePopWindow(1000);
			}else{
				showTip(res.message||'保存失败');
			}
		}
	});
}
function deleteBanner(id){
	if(!id){
		showTip('删除id不能为空');
		return;
	}
	showConfirm('确定要删除吗?',function(){
		$.ajax({
			url:'/yinrun/deleteBanner',
			type:'post',
			data:{id:id},
			success:function(res){
				res = JSON.parse(res);
				if(res.status == 'success'){
					showTip('删除成功');
					findListPage(template.page.currentPage||1);
					$('#pop_edt_btn').attr('disabled',false); 
					$('#pop_edt_btn').removeClass('btn_invalid');
				}else{
					showTip(res.message||'删除失败');
				}
			}
		});
	});
}
</script>
</html>