<!DOCTYPE html>
<html lang="en">

<head>
	<%- include mod_head.html %>
		<title>管理后台欢迎页面</title>
</head>

<body>
	<div>
		<div class="top_area">
			<%- include mod_top.html %>
		</div>
		<div class="bom_area">
			<div class="nav_menu_area">
				<%- include mod_menu.html %>
			</div>
			<div class="work_area">
			    <div style="line-height:60px;">欢迎登陆管理后台</div>
				<!--
				<div class="query_t">
					Keyboard
				</div>
				<div class="com_div query_c">

				</div>
				<div class="com_div query_b">
					<div>adfs</div>
				</div>
				-->
			</div>
		</div>
	</div>
</body>

</html>