<!-- 通用查询块 -->
<div id="template1">
	<div class="query_t" id="query_t">
		<%- titleTip %>
	</div>
	<div class="com_div query_c" id="query_c">
	
	</div>
	<div class="com_div query_d" id="query_d"></div>
</div>

<!-- 通用新增块 -->
<div id="template1_pop_add" style="display:none;">
	<ul class="pop_edt_ul" id="template1_pop_add_ul"></ul>
	<div style="text-align:center;margin-top:20px;">
		<button onclick="addSave()" id="template1_pop_add_btn" class="pop_edt_btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
	</div>
</div>
<!-- 通用编辑块 -->
<div id="template1_pop_edt" style="display:none;">
	<ul class="pop_edt_ul" id="template1_pop_edt_ul"></ul>
	<div style="text-align:center;margin-top:20px;">
		<button onclick="editSave()" id="template1_pop_edt_btn" class="pop_edt_btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
	</div>
</div>
